*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# generated xmi and uml files
transformation/de.cooperateproject.eabridge.transformation/model/*/*.xmi
transformation/de.cooperateproject.eabridge.transformation/model/*/*Transformed.uml
transformation/de.cooperateproject.eabridge.transformation/model/*/*Transformed.di
transformation/de.cooperateproject.eabridge.transformation/model/*/*Transformed.notation