<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EAObjectModel -->
      <package
            uri="de.cooperateproject.eabridge.eaobjectmodel"
            class="de.cooperateproject.eabridge.eaobjectmodel.EaobjectmodelPackage"
            genModel="model/eaobjectmodel.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="de.cooperateproject.eabridge.eaobjectmodel.util.EAResourceFactory"
            type="eaom">
      </parser>
   </extension>

</plugin>
