<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="eabridge"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.cooperateproject.eabridge.application"
            name="Cooperate Project EA Bridge">
         <property
               name="appName"
               value="Cooperate Project EA Bridge">
         </property>
      </product>
   </extension>

</plugin>
